[type='checkbox'] {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  box-sizing: border-box;
  background-color: var(--grey-a);
}

.logo {
  font-family: var(--serif);
  font-size: 3.2rem;
  color: var(--black);
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  margin: 0;
  text-shadow: 2px 1px 1px var(--text);
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.logo::after {
  content: 'bSturd';
  position: absolute;
  left: 0px;
  top: 0px;
  text-shadow: 2.5px 1.5px 1px var(--grey);
}

.flare {
  position: absolute;
  z-index: 10;
}

.flare1 {
  height: 8px;
  width: 40%;
  top: 18px;
  left: 27%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.5) 30%,
    transparent 75%
  );
  filter: opacity(63%) brightness(140%);
}

.flare2 {
  height: 6px;
  width: 10%;
  top: 34px;
  left: 40%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.6) 30%,
    transparent 75%
  );
  filter: opacity(55%) brightness(110%);
}

.flare3 {
  height: 4px;
  width: 6%;
  top: 46px;
  left: 12%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.6) 30%,
    transparent 75%
  );
  filter: opacity(55%);
}

.flare4 {
  height: 7px;
  width: 6%;
  top: 26px;
  right: 9%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.8) 30%,
    transparent 75%
  );
  filter: opacity(65%);
}

.flare5 {
  height: 15px;
  width: 9%;
  top: 8.8%;
  right: 14%;
  background: radial-gradient(
    ellipse at center,
    var(--light) 10%,
    var(--light2) 40%,
    transparent 75%
  );
  filter: opacity(75%) blur(1px);
}

.computer-wrapper {
  height: 100%;
  position: relative;
  min-height: 740px;
  aspect-ratio: 1.062;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  box-sizing: border-box;
}

.feet {
  position: absolute;
  width: 70%;
  height: 20px;
  bottom: 2.4rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.foot {
  background-color: var(--blue-a2);
  background-image: linear-gradient(
    90deg,
    transparent 10%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 90%
  );
  height: 20px;
  aspect-ratio: 3 / 1;
  clip-path: polygon(3px 100%, calc(100% - 3px) 100%, 100% 0, 0 0);
  filter: brightness(70%);
  border-radius: 10px;
  box-shadow: inset 1px -0.5px 8px 3px var(--black-a2);
}

.computer-shadow {
  position: absolute;
  bottom: 1rem;
  left: 10%;
  background-color: var(--black-a);
  width: 83%;
  height: 5%;
  border-radius: 50%;
  transform: skewX(-57deg);
  z-index: 1;
  filter: blur(10px);
}

.computer {
  aspect-ratio: 1.062;
  clip-path: shape(
    from 50.04% 0%,
    curve to 88.92% 1.61% with 51.52% 0%/75.41% 0.05%,
    curve to 97.49% 9.15% with 95.65% 2.31%/97% 4.77%,
    curve to 98.91% 92.5% with 100.07% 32.1%/100.86% 68.58%,
    curve to 88.62% 100% with 98.37% 99.09%/95.36% 100%,
    hline to 11.38%,
    curve to 1.09% 92.5% with 4.64% 100%/1.63% 99.09%,
    curve to 2.51% 9.15% with -0.86% 68.58%/-0.07% 32.1%,
    curve to 11.08% 1.61% with 3% 4.77%/4.35% 2.31%,
    curve to 49.96% 0% with 24.59% 0.05%/48.48% 0%,
    hline to 50.04%,
    close
  );
  background-color: var(--blue);
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 0, 0.9) 20%,
    transparent 100%
  );
  height: 97%;
  position: relative;
  box-shadow: inset -3px -9px 20px 3px rgba(255, 255, 255, 0.4);
  overflow: hidden;
  z-index: 3;
}

.computer::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 120%;
  z-index: 5;
  top: 0;
  backdrop-filter: blur(10px) brightness(0.8) opacity(0.4);
  filter: blur(8px);
  background:
    radial-gradient(ellipse at 66% 10%, rgba(250, 246, 235, 0.2), rgba(255, 255, 255, 0) 58%),
    radial-gradient(ellipse at 24% 64%, rgba(250, 246, 235, 0.2), rgba(255, 255, 255, 0) 44%),
    radial-gradient(ellipse at 87% 75%, rgba(3, 10, 3, 0.2), rgba(255, 255, 255, 0) 34%);
  border: 3px solid var(--black);
  box-shadow: inset 0 5px 10px 5px var(--black-a2);
}

.computer::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 94%;
  z-index: 6;
  top: 5%;
  opacity: 0.5;
  filter: blur(4px);
  background: linear-gradient(
    90deg,
    transparent 86%,
    rgba(255, 255, 255, 0.3) 90%,
    rgba(0, 0, 0, 0.2) 94%
  );
}

.screen-frame {
  height: 81%;
  margin: 0 auto;
  clip-path: ellipse(49.2% 227% at 50% 74%);
  filter: blur(1px);
  box-shadow:
    11px 0px 6px 3px rgba(0, 0, 0, 0.2),
    0 0 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px) brightness(0.8) opacity(0.1);
  background-color: var(--white);
  position: relative;
  z-index: 1;
  border-radius: 60px;
  corner-shape: squircle;
  top: 2px;
  right: 1px;
}

.web-cam {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 12px;
  width: 4px;
  background-color: var(--black-a);
  border-radius: 6px;
  z-index: 9;
  border: 3px solid rgba(255, 255, 255, 0.6);
  outline: 1px outset rgba(255, 255, 255, 0.8);
}

.screen-frame::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: repeating-linear-gradient(90deg, var(--grey) 0 8px, var(--white) 8px 13px);
  box-shadow:
    inset -20px 4px 10px 3px var(--grey-a),
    inset 15px 0px 14px 10px white;
  filter: blur(1px);
}

.screen-frame::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: linear-gradient(
    95deg,
    rgba(214, 216, 213, 0.2) 10%,
    var(--light2) 25%,
    rgba(255, 255, 255, 0.6) 40%,
    var(--light) 60%,
    rgba(214, 216, 213, 0.5) 80%
  );
  backdrop-filter: opacity(0.4) brightness(80%);
  z-index: 2;
}

.utility-parent {
  height: 19%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.utility-container {
  background: var(--grey);
  height: 100%;
  width: 100%;
}

.utility-tab {
  height: 18px;
  width: 36px;
  background-color: var(--blue);
  position: absolute;
  top: -2px;
  right: 24%;
  border-radius: 2px;
  filter: brightness(80%) blur(1px);
  opacity: 0.7;
}

.utility-tab:first-child {
  left: 24%;
}

.utilities {
  height: 54%;
  width: 57%;
  top: 6px;
  left: 21.5%;
  position: absolute;
}

.utility-container .utilities {
  border-bottom: 2px solid #fff;
  border-top: 10px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  corner-shape: bevel;
  background-color: transparent;
  backdrop-filter: opacity(0.1) brightness(130%) blur(5px);
}

.cdr {
  width: 64%;
  height: 24px;
  background-color: var(--black-a);
  border-radius: 20px;
  position: absolute;
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
}

.utility-container .headphone-back {
  position: absolute;
  width: 70px;
  height: 22px;
  left: 7px;
  bottom: 12px;
  border-radius: 25px;
  background-color: rgba(3, 10, 3, 0.1);
}

.onoff {
  height: 34px;
  width: 34px;
  position: absolute;
  bottom: calc(50% - 13px);
  right: 24%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  outline: 2px solid rgba(214, 216, 213, 0.9);
  box-shadow: 0 1px 5px 2px rgba(255, 255, 255, 0.8);
  display: flex;
  cursor: pointer;
  transition: outline-color 300ms ease-out;
  z-index: 10;
}

.onoff:hover {
  outline-color: var(--blue-a);
}

.onoff:hover,
.onoff:active {
  animation-play-state: paused;
}

.power {
  position: relative;
  z-index: 2;
  top: 1px;
  fill: var(--black-a2);
  display: block;
  margin: auto;
}

.speakers {
  width: 88%;
  height: 65%;
  position: absolute;
  top: 17%;
  left: 6%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.speaker {
  height: 100%;
  aspect-ratio: 1.2;
  border-radius: 60px;
  display: flex;
  background: radial-gradient(#4a4c4d 20%, #363636 30%, #030a03 90%);
  position: relative;
}

.utility-container .speaker {
  filter: blur(1px);
}

.utility-container .speaker:first-child {
  background: radial-gradient(#4a4c4d 20%, #363636 30%, #030a03 90%);
}

.utility-container .speaker::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 60px;
  background: linear-gradient(-65deg, rgb(0, 149, 182, 0.6) 6%, transparent 35%);
  box-shadow: 5px 3px 5px 1px rgba(1, 81, 99, 0.6);
}

.speaker:first-child::after {
  background: linear-gradient(-70deg, transparent 60%, rgba(161, 226, 241, 0.7) 90%);
  backdrop-filter: brightness(115%);
  box-shadow: -6px -4px 8px 2px rgba(161, 226, 241, 0.9);
}

.utility-container-top .speaker {
  transform: scale(1.12);
  background-color: var(--blue);
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  filter: brightness(115%) opacity(0.5) blur(6px) saturate(1.5);
  box-shadow:
    7px 7px 6px 0 rgba(255, 255, 255, 0.2) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, 0.1) inset,
    inset -4px 3px 12px 1px rgba(3, 10, 3, 0.5);
  border: 1px solid var(--black-a);
  outline: 1px solid var(--light);
  z-index: 2;
}

.utility-container-top .speaker:last-child {
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
}

.utility-container-top .speakers--bottom .speaker {
  top: 1px;
  left: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: none;
  background-image: none;
  z-index: 1;
}

.utility-container-top .speakers--border {
  z-index: 3;
}

.utility-container-top .speakers--border .speaker {
  top: 0px;
  left: 0px;
  background-color: transparent;
  box-shadow: none;
  background-image: none;
  z-index: 1;
  filter: brightness(80%);
  border: 7px solid var(--blue);
  outline: 0;
  transform: scale(1.15);
  box-sizing: border-box;
  opacity: 0.8;
}

.speaker-tabs {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  transform: scale(1.2);
  z-index: 6;
  left: 0;
  top: 0;
}

.speaker-tabs span {
  width: 15px;
  height: 1px;
  border-top: 3px solid var(--black);
  border-radius: 60px;
  backdrop-filter: brightness(70%);
  display: block;
  position: absolute;
  z-index: 6;
}

.speaker-tabs span:nth-of-type(1) {
  transform: rotate(-90deg);
  top: calc(50% - 3px);
  left: -2px;
}

.speaker-tabs span:nth-of-type(2) {
  transform: rotate(-25deg);
  top: 6%;
  left: 20%;
}

.speaker-tabs span:nth-of-type(3) {
  transform: rotate(25deg);
  top: 6%;
  left: 66%;
}

.speaker-tabs span:nth-of-type(4) {
  transform: rotate(90deg);
  top: calc(50% - 3px);
  right: -2px;
}

.speaker-tabs span:nth-of-type(5) {
  transform: rotate(25deg);
  bottom: 6%;
  left: 20%;
}

.speaker-tabs span:nth-of-type(6) {
  transform: rotate(-25deg);
  bottom: 6%;
  left: 66%;
}

.utility-container-top .speakers--top {
  z-index: 7;
}

.utility-container-top .speakers--top .speaker {
  top: 0px;
  left: 0px;
  background-color: transparent;
  box-shadow:
    0 0 2px 1px var(--blue),
    0 0 5px 2px rgba(255, 255, 255, 0.5),
    0 0 3px 2px rgba(255, 255, 255, 0.8);
  background-image: none;
  filter: none;
  border: 0;
  outline: 0;
  transform: scale(1.12);
  box-sizing: border-box;
}

.speaker-cutout {
  position: absolute;
  right: 13%;
  top: calc(50% - 15px);
  height: 25px;
  width: 5px;
  background-color: var(--black);
  border: 3px solid var(--blue);
  outline: 1px solid rgba(255, 255, 255, 0.2);
  filter: opacity(0.7) brightness(90%);
  backdrop-filter: blur(1px);
  border-radius: 5px;
}

.utility-container-top .speakers--top .speaker:last-child .speaker-cutout {
  left: 13%;
}

.dots {
  mask-image:
    radial-gradient(circle 3.5px at center, transparent 50%, var(--black) 58%),
    radial-gradient(circle 3.5px at center, transparent 51%, var(--black) 56%);
  mask-size: 7px 12px;
  mask-position:
    0 0,
    3px 6px;
  mask-repeat: repeat;
  mask-composite: intersect;
  mask-origin: content-box;
}

.cone {
  height: 50%;
  aspect-ratio: 1.1;
  margin: auto;
  border-radius: 50%;
  background:
    radial-gradient(
      ellipse at 50% 36%,
      rgba(189, 195, 199, 0.4) 7%,
      rgba(156, 158, 159, 0.5) 80%,
      rgba(255, 255, 255, 0.6) 39%
    ),
    conic-gradient(from 231deg at 55% 46%, #bdc3c7 0%, #ffffff 25%, #9c9e9f 130%);
  box-shadow: inset -3px -1px 10px 2px var(--black-a);
}

.speaker:first-child .cone {
  background:
    radial-gradient(
      ellipse at 55% 46%,
      rgba(189, 195, 199, 0.4) 7%,
      rgba(156, 158, 159, 0.5) 118%,
      rgba(255, 255, 255, 0.6) 39%
    ),
    conic-gradient(from 170deg at 55% 46%, #bdc3c7 7%, #ffffff 39%, #9c9e9f 118%);
  box-shadow: inset -2px -2px 10px 2px var(--black-a);
}

.utility-container-top {
  backdrop-filter: blur(5px) brightness(110%) opacity(0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.utility-container-top .cdr {
  height: 30px;
  width: 66%;
  background: rgba(0, 149, 182, 0.8);
  backdrop-filter: brightness(120%) blur(6px);
  box-sizing: border-box;
  top: 10px;
  background-image: linear-gradient(
    0deg,
    transparent 10%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 90%
  );
  box-shadow:
    0 1px 8px 2px rgba(255, 255, 255, 0.7) inset,
    7px 3px 10px 3px rgba(3, 3, 3, 0.2) inset,
    -7px -3px 10px 1px rgba(3, 3, 3, 0.2) inset,
    1px 1px 1px 1px var(--light2),
    0px -1px 1px 0px var(--blue-a2);
}

.utility-container-top .cdr::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: var(--blue-a2);
  filter: blur(6px) brightness(150%) opacity(0.4) saturate(1.2);
  z-index: 5;
}

.utility-container-top .cdr::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  height: 10px;
  width: 92%;
  border-radius: 20px;
  background-color: var(--grey-a);
  filter: blur(0.6px);
  border: 4px inset var(--blue-a2);
  outline: 1px inset var(--blue-a);
  z-index: 6;
}

.utility-container-top .cdr-tabs {
  position: absolute;
  top: -1px;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100%;
}

.cdr-tabs span {
  width: 10px;
  height: 0px;
  border-top: 3px solid var(--blue);
  border-radius: 60px;
  backdrop-filter: brightness(50%);
  display: block;
  position: absolute;
}

.cdr-tabs span:nth-of-type(1) {
  top: 0;
  left: 0;
}

.cdr-tabs span:nth-of-type(2) {
  top: 0;
  left: calc(33% - 5px);
}

.cdr-tabs span:nth-of-type(3) {
  top: 0;
  right: calc(33% - 5px);
}

.cdr-tabs span:nth-of-type(4) {
  top: 0;
  right: 0;
}

.cdr-tabs span:nth-of-type(5) {
  bottom: 0;
  left: 0;
}

.cdr-tabs span:nth-of-type(6) {
  bottom: 0;
  left: calc(33% - 5px);
}

.cdr-tabs span:nth-of-type(7) {
  bottom: 0;
  right: calc(33% - 5px);
}

.cdr-tabs span:nth-of-type(8) {
  bottom: 0;
  right: 0;
}

.headphone-container {
  position: absolute;
  width: 66px;
  height: 24px;
  left: 9px;
  bottom: -1px;
  border-radius: 25px;
  backdrop-filter: brightness(110%) opacity(0.7);
  box-shadow:
    inset 1px 2px 5px 1px rgba(255, 255, 255, 0.4),
    inset 1px 1px 5px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 10px 8px var(--grey-a);
  outline: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.headphone-icon {
  fill: var(--white);
  position: absolute;
  bottom: -16px;
  left: 26px;
  width: 14px;
  height: 14px;
  opacity: 0.8;
}

.headphone-jack {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px) brightness(90%);
  box-shadow: 0px -1px 1px 1px var(--light);
  position: relative;
  z-index: 1;
}

.headphone-jack::after {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--grey);
  background-image: linear-gradient(
    90deg,
    rgba(152, 155, 156, 0.1) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(152, 155, 156, 0.1) 100%
  );
  border-radius: 50%;
}

.headphone-jack::before {
  content: '';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #837750;
  background-image: linear-gradient(90deg, #837750 0%, rgba(153, 137, 59, 0.8) 50%, #837750 100%);
  border-radius: 50%;
  z-index: 3;
  filter: blur(1px) brightness(110%);
}

.screen-outer-container {
  aspect-ratio: 4 / 3;
  width: 79%;
  margin: auto;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  z-index: 7;
  transform-style: preserve-3d;
}

.screen {
  width: 96%;
  aspect-ratio: 4 / 3;
  background-color: var(--black-a);
  background-image:
    conic-gradient(from -107deg at -1% 78%, var(--light) 3%, var(--grey) 20%, var(--black-a2) 100%),
    radial-gradient(
      ellipse closest-corner at center,
      rgba(214, 216, 213, 0.6) 12%,
      rgba(214, 216, 213, 0.4) 31%,
      var(--black-a2) 80%
    );
  box-shadow:
    0px 0 60px 43px var(--black-a) inset,
    0px 0 60px 60px var(--light) inset;
  border-radius: 1.4rem;
  corner-shape: squircle;
  outline: 2px inset rgba(255, 255, 255, 0.7);
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
  transform-style: preserve-3d;
}

.tube-arc {
  position: absolute;
  background-color: var(--black-a2);
  backdrop-filter: blur(3px) brightness(80%);
}

.tube-arc:nth-of-type(1) {
  background-image: radial-gradient(
    ellipse farthest-side at 25% 46%,
    transparent 85%,
    var(--black) 80%
  );
  height: 107%;
  width: 200%;
  z-index: 3;
}

.tube-arc:nth-of-type(2) {
  background-image: radial-gradient(
    ellipse farthest-side at 47% 20%,
    transparent 88%,
    var(--black) 80%
  );
  height: 260%;
  width: 105%;
  filter: blur(2px);
  z-index: 3;
}

.screen-border {
  width: 100%;
  height: 101%;
  background-color: var(--light2);
  margin: auto;
  border-radius: 2rem;
  corner-shape: squircle;
  box-shadow:
    0px 1px 6px 2px rgba(3, 3, 30, 0.3) inset,
    2px 1px 12px 14px rgba(251, 250, 247, 0.8) inset,
    1px 0px 6px 16px rgba(3, 3, 3, 0.4) inset,
    1px 1px 1px 1px var(--light2);
  outline: 1px outset var(--light2);
  backdrop-filter: blur(2px) brightness(140%) opacity(0.3);
  position: relative;
  z-index: 1;
}

.screen-interface {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 97%;
  aspect-ratio: 4 / 3;
  z-index: 3;
  transform-style: preserve-3d;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: none;
}

.screen-interface::before {
  content: '';
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-image: repeating-linear-gradient(var(--black-a2) 0 1.5px, transparent 1.5px 3px);
  background-size: 100% 18px;
  animation: pixelWobble 4s infinite linear;
  animation-play-state: paused;
  opacity: 0.8;
}

.screen-interface::after {
  content: '';
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-image: repeating-linear-gradient(transparent 0 1.5px, var(--black-a2) 1.5px 3px);
  background-size: 100% 3px;
  animation: pixelSlideUp 12s infinite linear;
  animation-play-state: paused;
  opacity: 0.7;
}

body:has(#on-off:checked) {
  .power {
    fill: var(--blue);
  }

  .onoff {
    box-shadow: 0 1px 9px 1px var(--blue-a);
    animation: none;
  }

  .screen-interface {
    animation: on 2s ease-in-out forwards;
  }

  .screen-interface::after {
    animation-play-state: running;
  }

  .screen-interface::after {
    animation-play-state: running;
  }
}

body:has(#on-off:not(:checked)) {
  .screen-interface {
    animation: off 2s ease-in-out;
    animation-fill-mode: forwards;
  }

  .onoff {
    animation: powerButton 2s ease-in-out infinite alternate;
  }

  .screen-interface::after {
    animation-play-state: paused;
  }

  .screen-interface::after {
    animation-play-state: paused;
  }
}
